<html>
  <body>
    <div
      align="center"
      style="
        font-family: sans-serif;
        font-weight: bold;
        max-width: 600px;
        margin: 2em auto;
        background: white;
        padding-top: 2em;
        border-radius: 5px;
        box-shadow: 0px 0px 10px lightgray;
        border: 1px solid #d5d5d5;">
      <h1>Hello <%= first %> <%= last %>!</h1>
      <p>Thank you for your interest in The Bicycle Touring Companion.<br>
      <a href='<%= api %>/register/<%= token %>'>Click here</a> to confirm your
      account</p>
      <img src='<%= assetDomain %>/RaginCajunCountry_BillHarrison.jpg' width='90%'></img>
      <p>If you aren't already, consider becoming an Adventure Cycling member
        <a href='https://www.adventurecycling.org/membership/join/'>here</a>.</p>
      <div style="padding: 0.5em;">
        <a href='http://twitter.com/advcyclingassoc'><img src='<%= assetDomain %>/twitter.jpg'></a>
        <a href='https://www.facebook.com/adventurecycling/'><img src='<%= assetDomain %>/facebook.jpg'></a>
        <a href='http://youtube.com/advcyclingassoc'><img src='<%= assetDomain %>/youtube.jpg'></a>
        <a href='https://www.pinterest.com/advcyclingassoc/'><img src='<%= assetDomain %>/pintrest.jpg'></a>
        <a href='https://instagram.com/adventurecycling/'><img src='<%= assetDomain %>/instagram.jpg'></a>
      </div>
      <div style="padding: 0.5em;">
        <a href='http://www.adventurecycling.org/' ><img src='<%= assetDomain %>/logo.gif'></a>
      </div>
    </div>
  </body>
</html>
